.accordian-cntr{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;   
    width: 15vw;
    border-right: 1px solid var( --Trace-Grey-Color);
    box-sizing: border-box;
    padding: 10px;
}
.according-item-wrpr{
    width: 100%;
    box-sizing: border-box;

}
.according-item-cntr{
    padding: 8px;
    width:100%;
    border-radius: 8px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 1rem;
    color: var(--Primary-Text-Color);
    font-weight: 500;

}
.according-item-cntr:hover{
    background-color: var(--Brand-Primary-Colors);
    color: #fff;
}